#tip,
#warning,
#danger {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}
#tip {
  background-color: #f3f5f7;
  border-color: #42b983;
}
#tip em {
  font-weight: 600;
  margin-bottom: -0.4rem;
  text-transform: uppercase;
  font-style: normal;
}
#warning {
  background-color: rgba(255,229,100,0.3);
  border-color: color-mod(#ffe564 shade(35%));
  color: color-mod(#ffe564 shade(70%));
}
#warning em {
  font-weight: 600;
  margin-bottom: -0.4rem;
  color: #b29400;
  text-transform: uppercase;
  font-style: normal;
}
#warning a {
  color: var(--textColor);
}
#danger {
  background-color: #ffe6e6;
  border-color: color-mod(red shade(20%));
  color: color-mod(red shade(70%));
}
#danger em {
  font-weight: 600;
  margin-bottom: -0.4rem;
  color: color-mod(red shade(40%));
  text-transform: uppercase;
  font-style: normal;
}
#danger a {
  color: var(--textColor);
}
