@import './config.css';

:root {
  --mobileSidebarWidth: calc(var(--sidebarWidth) * 0.82);
}

/* responsive breakpoints */
@custom-media --MinQNarrow (width > 959px);
@custom-media --MaxQNarrow (width < 959px);
@custom-media --MinQMobile (width > 719px);
@custom-media --MaxQMobile (width < 719px);
@custom-media --MinQMobileNarrow (width > 419px);
@custom-media --MaxQMobileNarrow (width < 419px);

@media (--MaxQNarrow) {
  .content {
    padding-left: var(--mobileSidebarWidth);
  }
  .page {
    padding-left: var(--mobileSidebarWidth);
  }
}
@media (--MaxQMobile) {
  .page {
    padding-left: 0;
  }
  .theme-container {
    padding-top: 0;
  }
}
@media (--MaxQMobile) {
  h1 {
    font-size: 1.9rem;
  }
  .content div[class*="language-"] {
    margin: 0.85rem -1.5rem;
    border-radius: 0;
  }
}
