@import './config.css';

:root {
  --mobileSidebarWidth: calc(var(--sidebarWidth) * 0.82);
}

@media (max-width: 959px) {
  .content {
    padding-left: var(--mobileSidebarWidth);
  }
  .page {
    padding-left: var(--mobileSidebarWidth);
  }
}
@media (max-width: 719px) {
  .page {
    padding-left: 0;
  }
  .theme-container {
    padding-top: 0;
  }
}
@media (max-width: 419px) {
  h1 {
    font-size: 1.9rem;
  }
  .content div[class*="language-"] {
    margin: 0.85rem -1.5rem;
    border-radius: 0;
  }
}
