@import './config.css';
@import './custom-blocks.css';
@import './code.css';

html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--textColor);
}
.page {
  padding-left: var(--sidebarWidth);
  padding-bottom: 2rem;
}
.page-nosidebar {
  padding-bottom: 2rem;
}
.navbar {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbarHeight);
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid var(--borderColor);
}
.content {
  max-width: var(--contentWidth);
  margin: 0 auto;
  padding: 2rem 2.5rem
}
.content .a:hover {
  text-decoration: underline;
}
.contenet img {
  max-width: 100%;
}
article {
  margin-bottom: 2px;
}
a {
  font-weight: 500;
  color: var(--accentColor);
  text-decoration: none;
}
p a code {
  font-weight: 400;
  color: var(--accentColor);
}
kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}
blockquote {
  font-size: 0.9rem;
  color: #999;
  border-left: 0.25rem solid #dfe2e5;
  margin-left: 0;
  padding-left: 1rem;
}
ul,
ol {
  padding-left: 1.2em;
}
strong {
  font-weight: 600;
}
h1 .page-title {
  font-weight: 600;
  line-height: 1.25;
  font-size: 3.052em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--borderColor);
}
h3 {
  font-size: 1.35rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.8rem;
}
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  display: block;
  content: " ";
  height: 2rem;
  margin-top: -2rem;
  visibility: hidden;
}
h1:focus, 
h2:focus, 
h3:focus, 
h4:focus, 
h5:focus,
h6:focus {
  outline: none !important;
  box-shadow: none !important;
}

kbd,
.line-number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
p,
ul,
ol {
  line-height: 1.7;
}
hr {
  border: 0;
  border-top: 1px solid var(--borderColor);
}
table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
tr {
  border-top: 1px solid #dfe2e5;
}
tr:nth-child(2n) {
  background-color: #f6f8fa;
}
th,
td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.custom-layout {
  padding-top: 3.6rem;
}
.theme-container {
  display: block;
}
.pagination {
  padding: 1rem;
  list-style: none;
  border-top: 1px solid var(--borderColor);
}
@media (min-width: 420px) {
  h1 {
    font-size: 1.9rem;
  }
  .content div[class*="language-"] {
    margin: 0.85rem -1.5rem;
    border-radius: 0;
  }
}

@import './mobile.css';
